
<% player = session[:deck].player %>
<h4>Hello! <%= player.name %></h4>

<p> You have <%= player.capital %> </p>
<p> How much you want to bet? </p>

<form action="/set_bet" method='post'>
  <input type="text" name="bet" autofocus>
  <button type="submit" class="btn btn-default">Submit</button>
</form> 

