
<p>Welcome Tomo Black Jack Game!! Input your name.</p>

<% if !session[:username].nil? %>
  <% if session[:username].empty? %>
    invalid username
  <% end %>
<% end %>


<form action="/set_name" method='post'>
Player's Name:<br>
<input type="text" name="username" value="Guest">
<br>

<input type="submit" class = 'btn'/>
</form> 

