<p>Welcome Tomo's Black Jack Game!!</p>

<% session[:deck]=nil %>
<form action="/set_name" method='post'>
  Player's Name:
  <input type="text" name="username" autofocus>
  <br/>
  <input class="btn btn-default" type="submit" value="Submit">
</form> 

